@import '@/styles/_variables.scss';

.results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        flex: 1 1 256px;

        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: $f-weight-bold;
            line-height: 28px;
            text-transform: uppercase;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 56px;
            font-size: 24px;
            font-weight: $f-weight-semi-bold;
            line-height: 36px;
            border-left: 1px solid $orange-primary;
            color: $orange-primary;
        }
    }
}
