@import '@/styles/_variables.scss';

.card-events {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 420px;
    border-radius: $border-radius-base;
    border: 1px solid rgba($gray-light, 0.15);
    box-shadow: 0 2px 5px rgba($black-primary, 0.15);
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: none;
    }

    &:hover &__images img:last-of-type {
        opacity: 1;
    }

    .card-events-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 240px;
        padding: 16px;
    }

    &__images {
        position: relative;
        min-height: 206px;
        border-radius: $border-radius-base $border-radius-base 0 0;
        overflow: hidden;

        img {
            object-fit: contain;

            &:last-of-type {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
    }

    &__title {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: $f-weight-semi-bold;
        line-height: 24px;
        color: $black-primary;
    }

    &__event-date,
    &__event-address {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: $f-weight-regular;
        line-height: 20px;
        margin-bottom: 8px;

        svg {
            margin-right: 12px;
        }
    }

    &__desc {
        margin-top: 24px;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: $f-weight-regular;
        line-height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__btn-more {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 180px;
        min-height: 36px;
        margin-top: auto;
        padding-left: 42px;
        font-size: 14px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        text-decoration: none;
        background: $gray-light;
        color: $white;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 46px;
            height: 100%;
            background: $orange-primary url('../../../assets/svg/d-arrow-right.svg') no-repeat 40% 50%;
            clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
        }
    }
}
