@import '@/styles/variables.scss';

.upcoming {
    position: relative;
    margin-bottom: 60px;

    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
        padding-left: 24px;
        font-size: 34px;
        font-weight: $f-weight-bold;
        line-height: 56px;
        border-left: 1px solid $orange-primary;

        span {
            color: $orange-primary;
        }
    }
}
