$black-primary: #3f4344;
$orange-primary: #d0531d;

$text-primary: #3f4344;

$gray-darker: #414247;
$gray-light: #a1a9ac;

$black: #000000;
$white: #ffffff;

$f-weight-regular: 400;
$f-weight-semi-bold: 600;
$f-weight-bold: 700;

$border-radius-base: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

$mobile-breakpoint: 768px;
$mobile-min-width: 320px;

$layout-max-width: 1170px;

$font-family-base: 'Open Sans', Arial, sans-serif;
