@import "normalize.css";
@import "variables";
@import "mixins";

@import "common/fonts";

@import "lib/skeleton";
@import "lib/splide";

*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after, *:active, *:focus, *:hover {
    outline: none;
    outline-offset: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: $f-weight-regular;
    line-height: 24px;
    color: $text-primary;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: $layout-max-width;
    margin: 0 auto;
    padding: 0 24px;
}

.mobile-only {
    display: none;

    @media only screen and (max-width: $mobile-breakpoint) {
        display: initial;
    }
}

.desktop-only {
    display: initial;

    @media only screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
}
