@import '@/styles/variables.scss';

.social {
    position: relative;

    &__title {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: $f-weight-semi-bold;
        line-height: 36px;
        color: $white;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 16px;

        svg {
            fill: $white;
        }
    }
}
