@import '@/styles/variables.scss';

.useful-link {
    position: relative;

    &__title {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: $f-weight-semi-bold;
        line-height: 36px;
        color: $white;
    }

    &__link-to {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        text-decoration: none;
        color: $white;
        transition: color 0.3s ease;

        @media (min-width: $mobile-breakpoint) {
            &:hover {
                color: $gray-darker;
            }
        }
    }
}
