@import '@/styles/variables.scss';

.contacts {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: $f-weight-semi-bold;
        line-height: 36px;
        color: $white;
    }

    &__address {
        width: 100%;
        max-width: 320px;
        margin-bottom: 36px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        color: $white;
    }

    &__office-map {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        color: $white;
        transition: color 0.3s ease;

        svg {
            margin-right: 8px;
            fill: $white;
        }

        @media (min-width: $mobile-breakpoint) {
            &:hover {
                color: $gray-darker;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        text-decoration: none;
        color: $white;
        transition: color 0.3s ease;

        svg {
            margin-right: 8px;
            fill: $white;
        }

        @media (min-width: $mobile-breakpoint) {
            &:hover {
                color: $gray-darker;
            }
        }
    }
}
